{{outlet}}

<div class="jumbo">
	<div class="right tomster"></div>
	<h2>About Super Rentals</h2>

	<p>The Super Rentals website shows information on rentals throughout the area.</p>
</div>


{{#link-to 'contact' class="button"}}
	Contact Us
{{/link-to}}