<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Contact Us</h2>
	<p>Super Rentals representatives are available to help</p>
	<address>
		123 Main Street
		Anytown, ST 93838
	</address>
	<a href="tel:575.355.1222">+1 (575) 355-12222</a><br/>
	<a href="mailto:someplace@some.com">someplace@some.com</a>
</div>

{{#link-to 'about' class="button"}}
	About
{{/link-to}}

{{#link-to 'rentals' class="button"}}
	Home
{{/link-to}}