<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Welcome!</h2>
	<p>We hope you find exactly what you're looking for.</p>

</div>

{{#list-filter filter=(action 'filterByCity') as |rentals| }}
	<ul class="results listings">
	{{#each rentals as |rentalUnit|}}
		<li>{{rental-listing rental=rentalUnit}}</li>
	{{/each}}
	</ul>
{{/list-filter}}
{{outlet}}

{{#link-to 'contact' class="button"}}
	Contact
{{/link-to}}

{{#link-to 'about' class="button"}}
	About Us
{{/link-to}}

