<div class="jumbo">
	<div class="right tomster"></div>
	<h2>Welcome!</h2>
	<p>We hope you find exactly what you're looking for.</p>

</div>

<div class="listings">
	{{#each model as |rentalUnit|}}
		{{rental-listing rental=rentalUnit}}
	{{/each}}

</div>


{{#link-to 'contact' class="button"}}
	Contact
{{/link-to}}

{{#link-to 'about' class="button"}}
	About Us
{{/link-to}}